@model IEnumerable<Client_IDH14.Models.FileHandler>

@{
    ViewBag.Title = "Home Page";
}

@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<script type="text/javascript">
    var message = '@message';
    if(message)
        alert(message);
</script>

<h2>Get a file</h2>

<form method="post" runat="server" action="Home/GetFile">
    
    Server: <input type="text" name="server" />
    
    Port: <input type="text" name="port" />
    </br></br>
    Filename: <input type="text" name="selectedFile" />
    </br></br>
    <input type="submit" value="Get file" class="btn btn-default" />

</form>

<h2>Upload a file</h2>

<form method="post" runat="server" action="Home/PutFile">
    
    Server: <input type="text" name="server" />

    Port: <input type="text" name="port" />
    </br></br>
    @foreach (var file in Model)

    {
        <span>
            <input type="checkbox" name="selectedFile" value="@file.FileName" />
            <label for="@file.FileName">@file.FileName</label>
            <label for="@file.Checksum">@file.Checksum</label>
            <br />
        </span>
    }

    <input type="submit" value="Upload file" class="btn btn-default" />
</form>

<h2>Get list from server</h2>

    <form method="post" runat="server" action="Home/GetListServer">

        Server: <input type="text" name="server" />

        Port: <input type="text" name="port" />
        </br></br>
        <input type="submit" value="Get list" class="btn btn-default" />
    </form>

<h2>Delete a file</h2>

<form method="post" runat="server" action="Home/DeleteFile">

    Server: <input type="text" name="server" />

    Port: <input type="text" name="port" />
    </br></br>
    Filename: <input type="text" name="selectedFile" />
    Checksum: <input type="text" name="checksumFile" />
    </br></br>
    <input type="submit" value="Delete file" class="btn btn-default" />

</form>